{
    "name": "lizmap/my-modules",
    "type": "library",
    "description": "Additional packages you want to use to enhance Lizmap",
    "require": {
        "jelix/composer-module-setup": "^0.6.0"
    },
    "extra": {
        "jelix": {
            "app-dir" : "../",
            "var-config-dir" : "../var/config/",
            "config-file-16" : "localconfig.ini.php"
        }
    },
    "minimum-stability": "stable",
    "config": {
        "preferred-install": {
            "*": "dist"
        }
    }
}
