{
    "name": "lizmap/my-modules",
    "type": "library",
    "description": "Additional packages you want to use to enhance Lizmap",
    "require": {
        "jelix/composer-module-setup": "^1.1.0"
    },
    "extra": {
        "jelix": {
            "app-dir" : "../",
            "var-config-dir" : "../var/config/"
        }
    },
    "minimum-stability": "stable",
    "config": {
        "preferred-install": {
            "*": "dist"
        },
        "allow-plugins": {
            "jelix/composer-module-setup": true
        }
    }
}
