
table.jacl2-list tbody td,
table.jacl2-list-user tbody td
{ font-weight:bold; text-align:center;}

table.jacl2-list-user tbody tr td:last-child {
   border-left: 1px solid #686868;
   border-right: 1px solid #686868;
}
.aclres0 { color:#006700; }
.aclres1 { color:#FF2F00; }


table.records-list thead th.notingroup, table.rights tbody td.notingroup {color:#BBB}
table.records-list tbody td.notingroup { font-weight:normal; color:#BBB}
table.records-list thead th a.removegroup { text-decoration:none !important; border:1px solid #bbb; background-color:#F6DCDC; padding:0 2px; }
table.records-list thead th a.addgroup { text-decoration:none !important; border:1px solid #bbb; background-color:#DEF6D5; padding:0 2px; }

table.jacl2-list-user tbody tr.even td:last-child { background-color: #FCE8EA }
table.jacl2-list-user tbody tr.odd td:last-child { background-color: #F7E1E4 }

select.right-no, span.right-no {
   color: #7d7d7d;
}
select.right-forbidden, span.right-forbidden {
   color: #ba0000;
}
select.right-yes, span.right-yes {
   color: green;
   font-weight: bold;
}


.list-filter-form {
    float:right;
    margin: 0 1em;
}

.list-filter-form select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
}

#groups-list td .cell-btn-edit {
    /*display:none;*/
    border: none;
    background-color: transparent;
}
#groups-list td:hover .cell-btn-edit {
    /*display:inline;*/
    cursor: pointer;
}

#groups-list .cell-form {
    display:none;
}

#groups-list tbody tr.even { background-color: #fcfcfc }
#groups-list tbody tr.odd { background-color: #f7f7f7 }

.dataTable .ui-button {
    padding: 0.1em;
}

.dataTable .group-delete-link {
    font-size:0.7em;

}

.jacl2-list.jacl2-list-sticky-heads,
.jacl2-list-user.jacl2-list-sticky-heads
{
    overflow: scroll;
    position: relative;
    border-collapse: separate;
}

.jacl2-list.jacl2-list-sticky-heads thead,
.jacl2-list-user.jacl2-list-sticky-heads thead
{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
.jacl2-list.jacl2-list-sticky-heads tbody th ,
.jacl2-list-user.jacl2-list-sticky-heads tbody th
{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #ecebeb
}
