*.orig
*.rej
*~
*.DS_Store
*.o
*.swp
*.log
*.pyc
.idea
lizmap/var/config/lizmapConfig.ini.php
lizmap/var/config/localconfig.ini.php
lizmap/var/config/profiles.ini.php
lizmap/var/config/installer.ini.php
lizmap/var/db/*.db
lizmap/var/lizmap-theme-config/*
temp/lizmap/*
!temp/lizmap/.empty
vagrant/playbook.retry
vagrant/.vagrant
