*.orig
*.rej
*~
*.DS_Store
*.o
*.swp
*.log
*.pyc
.idea
lizmap/var/config/lizmapConfig.ini.php
lizmap/var/config/localconfig.ini.php
lizmap/var/config/liveconfig.ini.php
lizmap/var/config/profiles.ini.php
lizmap/var/config/installer.ini.php
lizmap/var/db/*.db
lizmap/var/lizmap-theme-config/*
!lizmap/var/lizmap-theme-config/.empty
lizmap/var/mails/*
!lizmap/var/mails/.empty
lizmap/var/sessions/*
!lizmap/var/sessions/.empty
lizmap/var/uploads/*
!lizmap/var/uploads/.empty
lizmap/www/cache/images/*
!lizmap/www/cache/images/.empty
lizmap/www/live/images/home/*
!lizmap/www/live/images/home/.empty
lizmap/www/js/lizmap.js
temp/lizmap/*
!temp/lizmap/.empty
vagrant/playbook.retry
vagrant/.vagrant
vagrant/vars/custom.yml
lizmap/vendor/
lizmap/composer.lock
.php_cs
.php_cs.cache
build

tests/vendor/
tests/composer.lock

assets/node_modules/
