includes:
	- phpstan-baseline.neon

parameters:
  bootstrapFiles:
    - lib/jelix/init.php
  scanDirectories:
    - lib/
    - lizmap/vendor/
  level: 4
  paths:
    - lizmap/modules
  tmpDir: .phpstan.cache
