parameters:
  scanDirectories:
    - lib/
    - lizmap/vendor/
  level: 4
  ignoreErrors:
    -
      # This error is normal, the undefined variables are dynamically assigned.
      message: '#Undefined variable: #'
      path: lizmap/modules/lizmap/lib/Request/WMTSRequest.php
    - "#Inner named functions are not supported by PHPStan\\. Consider refactoring to an anonymous function\\, class method\\, or a top-level-defined function\\.#"
  paths:
    - lizmap/modules
