includes:
	- phpstan-baseline.neon

parameters:
  bootstrapFiles:
    - lizmap/vendor/autoload.php
    - lizmap/vendor/jelix/jelix/lib/jelix/init.php
    - lizmap/app/responses/AbstractLizmapHtmlResponse.php
  scanDirectories:
    - lizmap/vendor/
  level: 4
  paths:
    - lizmap/modules
  tmpDir: .phpstan.cache
  ignoreErrors:
    - '#^Call to an undefined method jDaoFactoryBase#'
  universalObjectCratesClasses:
    - jDaoRecordBase
    - jEvent
