<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="dynamicLayers3liz.com" name="dynamicLayers" createdate="2015-10-05">
        <version date="2018-03-22">3.3pre.180322</version>
        <label lang="en_US">dynamicLayers</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2011-2018 3liz</copyright>
        <creator name="3liz" email="info@3liz.com"/>
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.5pre.3192" maxversion="1.6.*"/>
    </dependencies>
</module>
