<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jpref@modules.jelix.org" name="jpref" createdate="2012-11-12">
        <version stability="stable" date="2012-11-12">1.0</version>
        <label lang="en_US">jPref</label>
        <description lang="en_US">Module to manage preferences</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2012-2018 Laurent Jouanneau and 2012 Florian Lonqueu-Brochard</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <contributor name=" Florian Lonqueu-Brochard" />
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
       <jelix minversion="1.5a1" maxversion="1.6.*"/>
    </dependencies>
    <autoload>
        <class name="jPref" file="classes/jPref.php" />
        <class name="jPrefItem" file="classes/jPrefItem.php" />
        <class name="jPrefItemGroup" file="classes/jPrefItemGroup.php" />
        <class name="jPrefManager" file="classes/jPrefManager.php" />
    </autoload>
</module>
