uid=testldap,ou=people,dc={{ ldap_cn }},dc=local
uid=john,ou=people,dc={{ ldap_cn }},dc=local
uid=jane,ou=people,dc={{ ldap_cn }},dc=local
cn=group1,ou=groups,dc={{ ldap_cn }},dc=local
cn=group2,ou=groups,dc={{ ldap_cn }},dc=local
ou=groups,dc={{ ldap_cn }},dc=local
ou=people,dc={{ ldap_cn }},dc=local
