<?xml version="1.0" encoding="utf-8"?>
<urls xmlns="http://jelix.org/ns/urls/1.0">
    <entrypoint name="index" default="true">

        <url pathinfo="/dynamic-layers"   module="dynamicLayers"  include="urls.xml" />
        <url pathinfo="/lizmap"   module="lizmap"  include="urls.xml" />
        <url pathinfo="/view"   module="view"  include="urls.xml" />
        <url pathinfo="/jelix"          module="jelix"          include="urls.xml" />

    </entrypoint>

    <entrypoint name="admin">
        <url pathinfo="/"               module="master_admin" action="default:index" />
        <url pathinfo="/auth"           module="jauth"          include="urls.xml" />
        <url pathinfo="/auth-admin"     module="jauthdb_admin"  include="urls.xml" />
        <url pathinfo="/acl"            module="jacl2db_admin"  include="urls.xml" />
        <url pathinfo="/lizmap-admin"   module="admin"  include="urls.xml" />

<!--
        <url pathinfo="/osm_admin/osm/index" module="osm_admin" action="osm:index" />
        <url pathinfo="/osm_admin/filter/index" module="osm_admin" action="filter:index" />
-->
    </entrypoint>

</urls>
