;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

;============ Parameters for the plugin
; session variable name
session_name = "HISTORY"

; max size of the history
maxsize = 10

; if single = true if each page will be registered only once in history
; the latter will be retained.
single = false

; If double = false pages will not appear twice a follow time in history.
double = false

; if time = true a variable record time spent on site
time = true
; the name of this variable
session_time_name = "HISTORYTIME"