lizMap.events.on({

  layersadded: function(e) {
    var html = '';
    html+= '<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Welcome on this map</h3></div>';

    html+= '<div class="modal-body">';
    html+= $('#metadata').html();
    html+= '</div>';

    html+= '<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Ok</button></div>';

    $('#lizmap-modal').html(html).modal('show');

  }

});
