body {
  background : #EFEFEF;
}

#header {
  background-color: #2B2B2B;
  background-image : url(img/header-background-medium.jpg);
  background-repeat: repeat;
  color : #FBFBFB;
}
#logo {
  background : url(img/logo.png) no-repeat;
  background-size:contain;
}

#headermenu {
  background-color:transparent;
}

#auth {
  background: transparent;
}
.navbar .nav .active > a,
.navbar .nav > li > a:focus ,
.navbar .nav > li > a:hover {
  background-color: #eeeeee;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color : #333;
  background-color: #08C;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #F5F5F5;
}
.dropdown-menu {
  background-color: #F5F5F5;
}
.navbar .navbar-inner .icon {
  background-image:url(images/sprite_20_tools.png);
}

.navbar .nav .dashboard-item .icon {
    background-position: -975px 0px;
}
.navbar .nav .dashboard-item a:hover .icon,
.navbar .nav .dashboard-item.active a .icon {
    background-position: -950px 0px;
}

.navbar .nav .login .icon {
  background-position: -225px 0px;
}
.navbar .nav .login a:hover .icon,
.navbar .nav .login.active a .icon {
  background-position: -200px 0px;
}
.navbar .nav .registered .icon {
  background-position: -825px 0px;
}
.navbar .nav .registered a:hover .icon,
.navbar .nav .registered.active a .icon {
  background-position: -800px 0px;
}
.navbar .nav .user .icon {
  background-position: -575px 0px;
}
.navbar .nav .user a:hover .icon,
.navbar .nav .user.active a .icon,
.navbar .nav .user.open a .icon    {
  background-position: -550px 0px;
}
.navbar .nav .home .icon {
  background-position: -25px 0px;
}
.navbar .nav .home a:hover .icon,
.navbar .nav .home.active a .icon {
  background-position: 0px 0px;
}
