#title h1 {
  color : #E9E9E9;
}
#title h2 {
  color : lightgrey;
}
#headermenu .navbar-search .icon {
  background-color: transparent;
  background-position: -400px 0px;
}

#headermenu #locate-clear.icon {
  background-color: transparent;
  background-position: -875px 0px;
  margin-top: 5px;
}
#headermenu .dropdown-menu {
  background-color: #4A4A4A;
  background-color: rgba(0,0,0,0.7);
}
#headermenu .dropdown-menu:after {
  border-bottom: 6px solid rgba(0,0,0,0.5);
}
#headermenu .dropdown-caret .caret-inner {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,0.5);
}
#headermenu .dropdown-caret .caret-outer {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0,0,0,0.2);
}
#headermenu .dropdown-inner .items li > a {
  color: white;
}

.navbar .nav .metadata .icon {
  background-position: -125px 0px;
}
.navbar .nav .metadata a:hover .icon,
.navbar .nav .metadata.active a .icon {
  background-position: -100px 0px;
}

.navbar .nav .map .icon {
  background-position: -75px 0px;
}
.navbar .nav .map a:hover .icon,
.navbar .nav .map.active a .icon {
  background-position: -50px 0px;
}
.navbar .nav .legend .icon {
  background-position: -75px 0px;
}
.navbar .nav .legend a:hover .icon,
.navbar .nav .legend.active a .icon {
  background-position: -50px 0px;
}
.navbar .nav .locate .icon {
  background-position: -175px 0px;
}
.navbar .nav .locate a:hover .icon,
.navbar .nav .locate.active a .icon {
  background-position: -150px 0px;
}
.navbar .nav .print .icon {
  background-position: -375px 0px;
}
.navbar .nav .print a:hover .icon,
.navbar .nav .print.active a .icon {
  background-position: -350px 0px;
}
.navbar .nav .edition .icon {
  background-position: -475px 0px;
}
.navbar .nav .edition a:hover .icon,
.navbar .nav .edition.active a .icon {
  background-position: -450px 0px;
}
.navbar .nav .measure .icon {
  background-position: -275px 0px;
}
.navbar .nav .measure a:hover .icon,
.navbar .nav .measure.active a .icon {
  background-position: -250px 0px;
}
.navbar .nav .geolocation .icon {
  background-position: -325px 0px;
}
.navbar .nav .geolocation a:hover .icon,
.navbar .nav .geolocation.active a .icon {
  background-position: -300px 0px;
}

#content .ui-icon {
  background-image : url(images/sprite_menu.png);
}
#content .ui-icon-open-menu {
  background-position : -16px -80px;
  background-color : #F0F0F0;
}
#content .ui-icon-close-menu {
  background-position : 0px -96px;
}

#metadata {
  background-color:#EFEFEF;
  color:#333;
}

#metadata h2{
  color:#333;
}

#menu {
  background : #F0F0F0;
}

#menu .ui-icon-locate-open {
  background-position : -16px -16px;
}
#toolbar h3 .icon,
#menu h3 .icon {
  background-image : url(images/sprite_20_tools.png);
}
#toolbar .baselayer h3 .icon,
#menu .baselayer h3 .icon {
  background-position : -725px 0px;
}
#toolbar .switcher h3 .icon,
#menu .switcher h3 .icon {
  background-position : -75px 0px;
}
#toolbar .locate h3 .icon,
#menu .locate h3 .icon {
  background-position : -175px 0px;
}
#toolbar .geolocation h3 .icon,
#menu .geolocation h3 .icon {
  background-position: -325px 0px;
}
#toolbar .print h3 .icon,
#menu .print h3 .icon {
  background-position: -375px 0px;
}
#toolbar .measure h3 .icon,
#menu .measure h3 .icon {
  background-position: -275px 0px;
}
#toolbar .edition h3 .icon,
#menu .edition h3 .icon {
  background-position : -675px 0px;
}

/*
Timemanager
*/
#toolbar #timemanager-menu h3 .icon,
#menu #timemanager-menu h3 .icon {
  background-image : url(images/sprite_timemanager.png);
}
.navbar .navbar-inner .timemanager .icon {
  background-image:url(images/sprite_timemanager.png);
}
.navbar .nav .timemanager .icon {
  background-position: 0px 0px;
}
.navbar .nav .timemanager a:hover .icon,
.navbar .nav .timemanager.active a .icon {
  background-position: -20px 0px;
}
#toolbar .timemanager h3 .icon,
#menu .timemanager h3 .icon {
  background-position: -20px 0px;
}


#map-content {
  background : #F0F0F0;
}

#close-menu {
  border-bottom : solid 1px #DDDDDD;
}

#content.mobile #toolbar{
  background : #F0F0F0;
}

#toolbar .title .btn, #menu .title .btn {
  background : url(images/sprite_menu_tools.png) no-repeat right;
}
#toolbar .title .btn.btn-error {
  background:none;
  color:#DA4F49;
}
#toolbar .title .btn.btn-locate-clear {
  background-position : 0px 0px;
}
#toolbar .title .btn.btn-locate-clear:hover {
  background-position : -20px 0px;
}
#toolbar .title .btn.btn-print-clear {
  background-position : -20px -100px;
}
#toolbar .title .btn.btn-print-clear:hover {
  background-position : 0px -100px;
}
#toolbar .title .btn.btn-stop {
  background-position : 0px -20px;
}
#toolbar .title .btn.btn-stop:hover {
  background-position : -20px -20px;
}
#toolbar .menu-content .btn.btn-success{
  background-color: #93C01F;
  background-image: -moz-linear-gradient(center top, #9BC144, #93C01F);
}

#baselayer-menu div.baselayer-select,
#switcher div.baselayer-select,
#locate div.locate-layer {
  border : solid 1px #606060;
  background: url(images/123_click.png) no-repeat right;
}

#baselayer-menu div.baselayer-select select,
#locate div.locate-layer select {
  background: transparent;
  color : rgb(51,51,51);
}

#locate div.locate-layer .custom-combobox-toggle {
  background: url(images/123_click.png) no-repeat right -5px;
}
#locate div.locate-layer .custom-combobox-input {
  background: none;
  color : rgb(51,51,51);
}
.ui-autocomplete.ui-menu .ui-menu-item a {
  background: none;
  color : rgb(51,51,51);
}
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-hover,
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active,
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus {
  background: #0094D6;
}

#menu .ui-accordion-content {
  background-color : white;
  border : solid 1px rgb(251,216,80);
}

#switcher tr.liz-state-disabled span {
  color:#AAA;
}
#switcher button{
  background: none;
}

#switcher span.label{
  color : rgb(51,51,51);
  background: none;
}
#switcher .treeTable tr.expanded td a.expander {
  background-image : url(images/sprite_menu.png);
  background-position : -16px -48px;
}
#switcher .treeTable tr.collapsed td a.expander {
  background-image : url(images/sprite_menu.png);
  background-position : -32px -64px;
}
#switcher .treeTable span.selected {
  background-color : rgb(153,153,153);
  text-shadow : 0px -1px 0px rgba(0,0,0,0.25);
  color : white;
}
#switcher .treeTable span.loading {
  background-image : url(images/download_layer.gif);
}

#baselayer-select-input {
  background : none repeat scroll 0% 0% rgb(240, 240, 240);
  border : solid 1px #DDD;
  border-left : none;
}

/*navbar*/
#navbar div.slider{
  background : #C81F2D;/* #0081C2; */
  border : solid 1px white;
}
#navbar div.slider span{
  background : black;
  border : solid 1px black;
}
#navbar button.ui-button-icon-only{
  background : #0081C2;/* #CE1F2D;*/
  border : solid 1px white;
}
#navbar button.ui-state-select{
  background-color : #3A3C3D;
}
#navbar .ui-state-default .ui-icon {
  background-image : url(images/sprite_20.png);
}
#navbar .ui-button-icon-only .ui-icon-pan {
  background-position : 0px -20px;
}
#navbar .ui-button-icon-only .ui-icon-zoom {
  background-position : -20px -20px;
}
#navbar .ui-button-icon-only .ui-icon-zoom-extent {
  background-position : -20px -40px;
}
#navbar .ui-button-icon-only .ui-icon-zoom-out {
  background-position : -20px 0px;
}
#navbar .ui-button-icon-only .ui-icon-zoom-in {
  background-position : 0px 0px;
}
#navbar .ui-button-icon-only.ui-state-usable .ui-icon-previous {
  background-position : 0px -80px;
}
#navbar .ui-button-icon-only .ui-icon-next {
  background-position : -25px -60px;
}
#navbar .ui-button-icon-only.ui-state-usable .ui-icon-next {
  background-position : -25px -80px;
}

/*Overview map*/
#overview-bar {
  background : none repeat scroll 0% 0% rgb(240, 240, 240);
  border : solid 1px #606060;
}

#overview-bar .label {
  color : rgb(51,51,51);
  background: none;
}

#overview-bar .button {
  border-left : solid 1px #606060;
  /*background : #DDD;*/
  background : url('images/123_click.png') no-repeat scroll right center #DDD;
}
#overview-bar .ui-icon {
  background-image : url(images/sprite_menu.png);
}

#overview-bar .button .ui-icon-triangle-1-s {
  background-position : -16px 0px;
}
#overview-bar .button .ui-icon-triangle-1-n {
  background-position : 0px 0px;
}

#overviewmap{
  background : none repeat scroll 0% 0% rgb(240, 240, 240);
  border : solid 1px #606060;
  border-bottom : none;
}
.olControlOverviewMapElement {
  background-color: rgb(240,240,240);
}
.olControlOverviewMapExtentRectangle {
  border: 2px solid #59B4D4;
}
.olControlOverviewMapRectReplacement {
  background-image:url(img/overview_replacement.gif);
}

#attribution-box {
  background-color : rgba(255,255,255,0.7);
}



#attribute-table-panel {
  opacity:0.5;
  width:65%;
  background-color:#F0F0F0;
}
#attribute-table-panel.visible {
  opacity: 1;
  height: 50%;
}
#attribute-table-panel.fullsize {
  height: 100%;
  width:100%;
}

#attribute-table-panel h3 {
  background: none repeat scroll 0% 0% #2B2B2B;
  color: #FBFBFB;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

#attribute-table-panel h3 .icon {
  background-image : url(images/sprite_20_tools.png);
}
.navbar .navbar-inner .attributeLayers .icon {
  background-image: url("images/sprite_20_tools.png");
}
.navbar .nav .attributeLayers .icon {
  background-position: -120px -100px;
}
.navbar .nav .attributeLayers a:hover .icon,
.navbar .nav .attributeLayers.active a .icon {
  background-position: -120px -80px;
}
#attribute-table-panel h3 .icon {
  background-position: -120px -80px;
  background-image : url(images/sprite_20_tools.png);
  width:20px;
  height:20px;
}
.attributeLayers-layer-div span.attribute-layer-msg {
  text-decoration:italic;
  font-size:0.8em;
}
.attributeLayers-layer-div span.attribute-layer-msg.success {
  color:green;
}
.attributeLayers-layer-div span.attribute-layer-msg.failure {
  color:red;
}


.alert-info {
  background-color : #3a3c3d;
  border-color : #fbfbfb;
  color : #fbfbfb;
}
.alert-info .close{
  color : #fbfbfb;
}

/**
 * Icones lizMap
 */
.liz-icon-check {
  /* sprite de 16x16 mais button de 14x14 */
  background-position : -48px -80px;
  background-color : #0094D6;
}
.liz-icon-partial-check {
  /* sprite de 16x16 mais button de 14x14 */
  background-position: -32px -80px;
  background-color : #0094D6;
}
.liz-state-disabled .liz-icon-check {
  background-color : #B3B3B3;
}
.liz-state-disabled .liz-icon-partial-check {
  background-color : #B3B3B3;
}
.liz-icon-legend-collapsed {
  background-position: -32px -16px;
}
.liz-icon-legend-open {
  background-position: -64px -16px;
}
.liz-icon-info {
  background-position: 0px -80px;
}
.liz-remove-cache {
  background-position: -48px -100px;
}

.liz-icon-overview {
  background-position: -208px -128px;
}
.liz-icon-switcher-open {
  background-position: -16px -96px;
}
.liz-icon-switcher-collapsed {
  background-position: 0 -96px;
}

/*Popup OpenLayers*/
.lizmapPopup.olPopup,
#map-content .lizmapPopup{
  background-color:#4A4A4A !important;
  background-color:rgba(0,0,0,0.7) !important;
  border: 1px solid #C9C9C9 !important;
  color: black !important;
}

.lizmapPopup.olPopup .lizmapPopupContent h4,
#map-content .lizmapPopupContent h4{
  color : white !important;
  border-bottom: 1px dashed white;
}
/*
.lizmapPopup.olPopup .lizmapPopupTable,
#map-content .lizmapPopupTable{
  border: 1px solid #2B2B2B !important;
}
*/
.lizmapPopup.olPopup .lizmapPopupTable thead,
#map-content .lizmapPopupTable thead {
  color: black;
  background-color: lightgrey;
}
.lizmapPopup.olPopup .lizmapPopupTable th.left,
#map-content .lizmapPopupTable th.left{
  border-right: 1px solid #C9C9C9 !important;
}

#edition-modal form {
  margin: 0;
}

/*dialog wait*/
.liz-dialog-wait {
  background: #F6F6F6;
  border: 1px solid #606060;
}
.liz-dialog-wait .ui-dialog-titlebar{
  background : #2B2B2B;
  color : #FBFBFB;
}
.liz-dialog-wait .ui-dialog-titlebar-close{
  display:none;
}
.ui-widget-overlay {
  opacity : 0.8;
  background : black;
}
#loading p {
  display: none;
}
#loading {
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}


/* only maps dock style */
#home #projects h2 {
  color: white;
}
