/* #### Mobile Phones Portrait #### */
@media screen and (device-width <= 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (device-width <= 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (device-width <= 640px){
  /* some CSS here */
}

/* #### Retina screen (iphone4, samsung note, etc.) Portrait or Landscape #### */
@media
only screen and (min-device-pixel-ratio: 2),
only screen and (   min-device-pixel-ratio: 2),
only screen and (     min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                resolution >= 192dpi),
only screen and (                resolution >= 2dppx),
only screen and (                   height <= 640px) ,
only screen and (                   device-height <= 640px) {
  /* Retina-specific stuff here */
  body{
    padding-top : 60px;
  }

  #header {
    height : 30px;
  }

  #logo {
    height : 30px;
    margin: 0 5px;
  }

  #logo h1 {
    font-size : 1.5em;
    margin: 5px 5px 5px 40px;
    line-height: 20px;
  }

  #title{
    height : 30px;
    margin : 0 5px;
    padding-right:5px;
  }

  #title h1 {
    margin : 0 5px;
    font-size : 1.5em;
    line-height: 30px;
  }

  #headermenu{
    height:30px;
    position: fixed;
  }

  .navbar-inner {
    min-height:30px;
    padding: 0 10px;
  }

  /*  for ie */

/*  .navbar-inner ul { */

/*    height:30px\9; */

/*  } */

  /*  for ie */
  .navbar-inner ul li{
    display:inline\9;
  }

  #overview-box {
    right:10px;
    bottom:40px;
  }

  #bottom-dock  {
    width: 100%;
    height: auto;
  }

  #bottom-dock.visible {
    height: 100%;
    opacity: 1;
  }

  #bottom-dock.half-transparent {
    height: 100%;
    opacity: 1;
  }

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (device-width >= 768px) and (device-width <= 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (width >= 1024px){
  /* some CSS here */
}
