.liz-project-img {
  width : 250px;
  height : 250px;
  text-align : center;
  vertical-align : middle;
  font-size : 16px;
  text-transform : uppercase;
  line-height: 248px;
}
.liz-project-desc {
  color: white;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.5);
}
