<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="proj4php3liz.com" name="proj4php" createdate="2015-03-13">
        <version date="2018-03-22">3.3pre.180322</version>
        <label lang="en_US">proj4php</label>
        <description lang="en_US" />
        <license URL="https://www.gnu.org/licenses/lgpl.html">GNU LESSER GENERAL PUBLIC LICENSE Version 3</license>
        <copyright>2011-2018 3liz</copyright>
        <creator name="3liz" email="info@3liz.com"/>
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.2" maxversion="1.6.*"/>
    </dependencies>
    <autoload>
        <class name="Proj4php" file="classes/proj4php.php" />
        <class name="proj4phpPoint" file="classes/proj4phpPoint.php" />
        <class name="Proj4phpProj" file="classes/proj4phpProj.php" />
    </autoload>
</module>
