<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jauthdb_admin@jelix.org" name="jauthdb_admin" createdate="2009-01-04">
        <version stability="stable" date="2011-10-18">1.2.1</version>
        <label lang="en_US">jauthdb_admin</label>
        <description lang="en_US"/>
        <license URL="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU Public Licence</license>
        <copyright>2009-2018 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" />
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
       <jelix minversion="1.3" maxversion="1.6.*"/>
    </dependencies>
</module>
