<?xml version="1.0" encoding="utf-8"?>
<events xmlns="http://jelix.org/ns/events/1.0">
   <listener name="authcommunity">
      <event name="AuthCanLogin" />
   </listener>
   <listener name="authadmincommunity">
      <event name="jauthdbAdminGetViewInfo"/>
      <event name="jauthdbAdminPrepareUpdate"/>
      <event name="jauthdbAdminEditUpdate"/>
      <event name="jauthdbAdminPrepareCreate"/>
      <event name="jauthdbAdminEditCreate"/>
      <event name="jauthdbAdminCheckCreateForm"/>
      <event name="jauthdbAdminAfterCreate"/>
   </listener>
</events>