;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

;theme=

[modules]
wps.access=0

[wps]
wps_rootUrl=
ows_url=
wps_rootDirectories="/srv/projects"
redis_host=redis
redis_port=6379
redis_db=1
redis_key_prefix=wpslizmap

[urlengine]
;checkHttpsOnParsing=
;forceProxyProtocol=
;domainName=
;basePath=
;backendBasePath=
