/*
Left Menu button
*/

#mapmenu .nav-list > li.dataviz .icon {
  background-image: url(dataviz-icon-white.png);
  background-position: 0 0;
}
#mapmenu .nav-list > li.dataviz.active .icon,
#mapmenu .nav-list > li.dataviz a:hover .icon {
  background-image: url(dataviz-icon-dark.png);
  background-position: 0 0;
}


/*
Toolbar buttons
*/

#dataviz h3 .icon {
    background-image: url(dataviz-icon-white.png);
    background-position: 0 0;
}

#dataviz-content {
    overflow: auto;
    height: 100%;
}

#dataviz-content div.menu-content {
    margin-bottom:10px !important;
}

#dataviz-main.bottom-content {
    background:none !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content{
    background-color: #F0F0F0 !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content p{
    padding: 5px;
    font-size: 0.8em;
}
#nav-tab-dataviz-main > a{
    background: none !important;
    border: none;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}
#dataviz-content > h3{
    margin-left:0px;
    border:none;
}
#dataviz-content > h3 > span.title{
    padding-left: 0px;
}


/*
DARK THEME
*/
#dataviz-content.dark div.menu-content {
    background: rgb(74, 74, 74) !important;
    color: white;
}
#dataviz-content.dark h3 {
    font-weight: bold !important;
}

#dataviz-content.dark g text.legendtext,
#dataviz-content.dark g.xtick text,
#dataviz-content.dark g.ytick text{
    fill: white !important;
}

/*
Diagram height, 450px by default*/
.js-plotly-plot,
.plot-container {
    height: 400px;
}


/*
TABS AND GROUPS
*/
/* Edition style */
#dataviz ul.nav-tabs {
    border-bottom: 1px solid gray;
}
#dataviz .nav-tabs > li > a {
    color: white;
    padding: 5px;
    border: none;
}
#dataviz .nav > li > a:hover,
#dataviz .nav > li > a:focus {
    text-decoration: none;
}
#dataviz .nav-tabs > li > a:hover,
#dataviz .nav-tabs > li > a:focus {
    background: none;
    border: none;
    /* border-bottom: 3px solid #0094d6; */
    border-bottom: 3px solid white;
    color: white;
    cursor: pointer;
}

#dataviz .nav-tabs > li.active > a,
#dataviz .nav-tabs > li.active > a:hover,
#dataviz .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    cursor: auto;
}

#dataviz div.tab-pane {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
}

#dataviz legend {
    color: white;
    border-bottom: none;
    padding: 5px;
    width: unset;
    max-width: 100%;
    margin-bottom: 0px;
}

#dataviz fieldset {
    padding: 10px;
    padding-top: 0px;
    margin: 0px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}
