/*
Left Menu button
*/

#mapmenu .nav-list > li.dataviz .icon {
  background-image: url(dataviz-icon-white.png);
  background-position: 0 0;
}
#mapmenu .nav-list > li.dataviz.active .icon,
#mapmenu .nav-list > li.dataviz a:hover .icon {
  background-image: url(dataviz-icon-dark.png);
  background-position: 0 0;
}


/*
Toolbar buttons
*/

#dataviz h3 .icon {
    background-image: url(dataviz-icon-white.png);
    background-position: 0 0;
}

#dataviz-content {
    overflow: auto;
    height: 100%;
}

#dataviz-content div.menu-content {
    margin-bottom:10px !important;
}

#dataviz-main.bottom-content {
    background:none !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content{
    background-color: #F0F0F0 !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content p{
    padding: 5px;
    font-size: 0.8em;
}
#nav-tab-dataviz-main > a{
    background: none !important;
    border: none;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}
#dataviz-content > h3{
    margin-left:0px;
    border:none;
}
#dataviz-content > h3 > span.title{
    padding-left: 0px;
}


/*
DARK THEME
*/
#dataviz-content.dark div.menu-content {
    background: rgb(74, 74, 74) !important;
    color: white;
}
#dataviz-content.dark h3 {
    font-weight: bold !important;
}

#dataviz-content.dark g text.legendtext,
#dataviz-content.dark g.xtick text,
#dataviz-content.dark g.ytick text{
    fill: white !important;
}
#dataviz-content.dark path.textline{
    stroke: white !important;
}

/*
Diagram height, 450px by default*/
.js-plotly-plot,
.plot-container {
    height: 400px;
}
