/*
Left Menu button
*/

#mapmenu .nav-list > li.dataviz .icon {
  background-image: url("dataviz-icon-white.png");
  background-position: 0 0;
}

#mapmenu .nav-list > li.dataviz.active .icon,
#mapmenu .nav-list > li.dataviz a:hover .icon {
  background-image: url("dataviz-icon-dark.png");
  background-position: 0 0;
}


/*
Toolbar buttons
*/

#dataviz h3 .icon {
    background-image: url("dataviz-icon-dark.png");
    background-position: 0 0;
}

#dataviz-content {
    overflow: auto;
    height: 100%;
}

#dataviz-content div.menu-content {
    margin-bottom:10px !important;
}

#dataviz-main.bottom-content {
    background:none !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content{
    background-color: var(--color-background-primary-content) !important;
    border:none !important;
}

#dataviz-main.bottom-content div.menu-content p{
    padding: 5px;
    font-size: 0.8em;
}

/* Title "Dataviz" of the bottom dock */
#nav-tab-dataviz-main > a{
    background: none !important;
    border: none;
    color: var(--color-text-primary);
    margin-top: 10px;
    font-weight: 500;
}

#dataviz-content > h3{
    margin-left:0;
    border:none;
}

#dataviz-content > h3 > span.title{
    padding-left: 0;
}


/*
DARK THEME
*/
#dataviz-content.dark h3 .icon {
    background-image: url("dataviz-icon-white.png");
    background-position: 0 0;
}

#dataviz-content.dark div.menu-content {
    background: rgb(74 74 74) !important;
    color: var(--color-contrasted-text);
}

#dataviz-content.dark h3 {
    font-weight: bold !important;
}

#dataviz-content.dark g text.legendtext,
#dataviz-content.dark g.xtick text,
#dataviz-content.dark g.ytick text{
    fill: var(--color-contrasted-text) !important;
}

/*
Diagram height, 450px by default */
.js-plotly-plot,
.plot-container {
    height: 400px;
}


/*
TABS AND GROUPS
*/
#dataviz ul.nav-tabs {
    border-bottom: 1px solid var(--color-contrasted-elements-light);
}

#dataviz .nav-tabs > li > a {
    color: var(--color-text-primary);
    padding: 5px;
    border: none;
}

#dataviz .nav > li > a:hover,
#dataviz .nav > li > a:focus {
    text-decoration: none;
}

#dataviz .nav-tabs > li > a:hover,
#dataviz .nav-tabs > li > a:focus {
    background: none;
    border: none;
    border-bottom: 3px solid var(--color-contrasted-elements);
    color: var(--color-text-primary);
    cursor: pointer;
}

#dataviz .nav-tabs > li.active > a,
#dataviz .nav-tabs > li.active > a:hover,
#dataviz .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    border-bottom: 3px solid var(--color-contrasted-elements);
    color: var(--color-text-primary);
    cursor: auto;
}

/* In bottom-dock, do not use a thick border bottom */
#bottom-dock #nav-tab-dataviz-main > a {
  border: none;
}

#dataviz div.tab-pane {
    border-left: 1px solid var(--color-contrasted-elements-light);
    border-right: 1px solid var(--color-contrasted-elements-light);
    border-bottom: 1px solid var(--color-contrasted-elements-light);
    padding: 5px;
}

#dataviz legend {
    color: var(--color-text-primary);
    border-bottom: none;
    padding: 5px;
    width: unset;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal !important;
    font-size: 1em;
}

#dataviz fieldset {
    padding: 10px;
    padding-top: 0;
    margin: 0 5px;
    border: 1px solid var(--color-contrasted-elements);
    border-radius: 5px;
    background: rgb(255 255 255 / 20%);
}

/* Dataviz in bottom-dock */
#bottom-dock #dataviz ul.nav-tabs {
    border: none;
}

#bottom-dock div.dataviz_plot_container,
#right-dock div.dataviz_plot_container
{
    border: 1px solid lightgray;
    margin-top: 10px;
}

#bottom-dock div.dataviz_plot_container h3,
#right-dock div.dataviz_plot_container h3
{
    margin-left: 0 !important;
    border-bottom: 1px solid lightgray;
}

#bottom-dock #dataviz-content.light span.icon {
    background-image: url("dataviz-icon-dark.png");
}


/* Some plotly adaptations */

/* deactivated because it moves the plotly toolbar */
.js-plotly-plot .plotly
/* ,.js-plotly-plot .plotly div  */
{
  margin: 0 auto;
}
