<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="ldapdao@3liz.com" name="ldapdao" createdate="2014-11-18">
        <version date="2020-03-24">2.0.10</version>
        <label lang="en_US">ldapdao</label>
        <description lang="en_US" />
        <license URL="http://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2014 3liz, 2017-2020 Innophi</copyright>
    </info>
    <dependencies>
        <jelix minversion="1.5" maxversion="1.7.*"/>
        <module name="jacl2"/>
    </dependencies>
</module>
