---
# Define custom variables to overrides defaults for roles

## Local configuration
# local_timezone: Europe/Paris
# local_locale: fr_FR.UTF-8
# local_locale_left: fr_FR
# local_locale_right: UTF-8

## PHP
#php_apt_key_url: https://packages.sury.org/php/apt.gpg
#php_version: "5.6"
#php_repository: https://packages.sury.org/php
#php_composer_version: 1.9.1

# lizmap_hostname: lizmap.local
# lizmap_webserver_group: www-data

# Enable the storage of users, acl and other lizmap data into the PostgreSQL database
# lizmap_postgresql_storage: false

# Enable to check the authentication against an ldap directory
#lizmap_ldapdao_enabled: false

## Qgis server
# qgis_server_version: "3.4"
# qgis_num_workers: 4
# qgis_server_log_level: 1

#qgis2_server_plugins:
#  wfsOutputExtension:
#    repository: https://github.com/3liz/qgis-wfsOutputExtension
#    version: v1.0.2
#  atlasprint:
#    repository: https://github.com/3liz/qgis-atlasprint
#    version: v1.1.1

#qgis3_server_plugins:
#  wfsOutputExtension:
#    repository: https://github.com/3liz/qgis-wfsOutputExtension
#    version: v1.2.2
#  atlasprint:
#    repository: https://github.com/3liz/qgis-atlasprint
#    version: v1.2.2

#qgis_repository_debian_key: '51F523511C7028C3'

## Postgresql
# postgresql_install: true
# postgresql_apt_key_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'
# postgresql_version: 9.6
# postgresql_encoding: UTF-8
# postgresql_locale: fr_FR.UTF-8
# postgresql_database: lizmap
# postgresql_lizmap_user: lizmap
# postgresql_postgis_version: 2.3
# postgresql_postgres_password: "lizmap1234!"
# postgresql_lizmap_password: "lizmap1234!"
