 lizMap.events.on({
    'lizmapeditionformdisplayed': function(evt){

        // Hide the the future action question at the bottom of a form
        // and use the default
        $('#jforms_view_edition_liz_future_action_label').hide();
        $('#jforms_view_edition_liz_future_action').hide();

        // Hide the dialog to enter coordinate if it's a point layer
        $('#edition-point-coord-form').hide();
     },

     'uicreated':function(evt){

        // Hide some buttons in the menu
        $('#mapmenu li.permaLink').hide();
        $('#mapmenu li.home').hide();
        $('#mapmenu li.metadata').hide();
     }
});
