<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="info@3liz.com" name="action" createdate="2019-11-23">
        <version date="2024-06-06">3.10.0-pre</version>
        <label lang="en_US">action</label>
        <description lang="en_US" />
        <license URL="https://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2017-2025 3liz</copyright>
        <creator name="3liz" email="info@3liz.com"/>
        <homepageURL>https://www.3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.29" maxversion="1.8.*"/>
        <module name="lizmap" />
        <module name="view" />
    </dependencies>
</module>
