.genericTitle{
  color:#2E3436;
}
#header {
  color:#2E3436;
  background:lightblue url(../img/logo-3liz.png) no-repeat right;
/*  height:0px;*/
}

/*Layer switcher*/
#switcherContainer {
  background-color:#E3E2E1;
  color:#2E3436;
}
#switcher{
  background-color:lightblue;
}
#switcher li.qwc-state-disabled > span {
  color:#CCC;
}

/*Toolbar*/
#toolbar {
  background-color:#E3E2E1;
}
/*Navigation bar*/
#navbar {
  background-color:#E3E2E1;
}

/*Overview map*/
#overviewmap{
  background-color:#E3E2E1;
  color:grey;
}
.olControlOverviewMapElement {
	background-color: darkgrey;
}
.olControlOverviewMapExtentRectangle {
	border: 2px solid lightblue;
}
