body {
  margin : 0;
  font-size : 1em;
  font-family : century gothic, arial, sans serif;
  padding-top : 75px;
  padding-bottom : 50px;
  background : #EFEFEF;
}

h1, h2, h3, h4, h5
{
  font-weight: normal !important;
}


/* for ie 8*/
a {
  color: #2B2B2B\9;
  text-decoration:none\9;
}
.active > a,
a:focus,
a:hover {
  color:white\9;
  text-decoration:none\9;
}
/* END for ie 8*/

#header {
  height : 75px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 1030;
  margin-bottom: 0px;
  overflow: visible;
  background : url('img/header-background-medium.png') repeat fixed #2B2B2B;
  color : #FBFBFB;
  font-size:0.8em;
}
#logo {
  float : left;
  height : 65px;
  min-width: 60px;
  margin-top : 5px;
  margin-bottom : 5px;
  margin-left : 20px;
  margin-right : 20px;
  background : url('img/logo.png') no-repeat;
  background-size: contain;
  background-position:center;
}
#logo h1 {
  margin-left : 85px;
  font-size : 2.5em;
/*  margin-top : 0.75em;*/
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
#title {
  position:relative;
  max-width:85%;
  height : auto;
  margin-top : 20px;
  margin-left : 100px; /* to avoid title to go under the header with ie 8*/
  padding-right:10px;
  text-align : left;
  overflow:hidden;
  white-space:normal;
  text-overflow:ellipsis;
  background:inherit;
}
#title h1 {
  position:relative;
  display:inline;
  color : #E9E9E9;
  font-size:2em;
  line-height:1em;
}
#title h2 {
  position:relative;
  display:inline;
  color : lightgrey;
  font-size:1em;
  line-height:0.5em;
  margin-top:2em;
  margin-left:0.5em;
}
#title h2 a {
  color : inherit;
  text-decoration : none;
}


#headermenu {
/*  height:30px;*/
  position: fixed;
  right: 0px;
  left: 0px;
  top:45px;
  z-index: 1030;
  margin-bottom: 0px;
  overflow: visible;
/*  white-space:nowrap;*/
/*  background-color:#93C01F; */
  font-size:inherit;
  background:transparent;
}

#auth {
  background: transparent;
}



.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px 0px;
    box-shadow: none;
}

.navbar-inner {
  min-height:30px;
/*  height:30px;*/
  padding: 0px 10px;
  filter:none\9;
}


/*  for ie 8*/
/*.navbar-inner ul {*/
/*  height:30px\9;*/
/*}*/
/*  for ie 8*/
.navbar-inner ul li{
  display:inline\9;
  padding: 0px 5px\9;
}

.navbar .nav li {
  line-height:28px;
}

.navbar .nav > li > a {
  padding: 0px 10px;
  text-shadow:none;
}
.navbar .nav .active > a,
.navbar .nav > li > a:focus ,
.navbar .nav > li > a:hover {
  background-color: #eeeeee;
  text-decoration : none;
  text-shadow:none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color : #333;
  background-color: #08C;
  text-shadow:none;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #F5F5F5;
}
.dropdown-menu {
  background-color: #F5F5F5;
}
.navbar .nav > li.dropdown > a.dropdown-toggle:hover .caret {
}
.navbar .navbar-inner .icon {
  display:inline-block;
  vertical-align:middle;
  background-image:url("images/sprite_20_tools.png");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
}
.navbar .navbar-inner .caret {
  display:inline-block;
  vertical-align:text-top;
}
.navbar .navbar-inner .text {
  display:inline-block;
  vertical-align:middle;
}
.navbar .nav .login .icon {
  background-position: -225px 0px;
}
.navbar .nav .login a:hover .icon,
.navbar .nav .login.active a .icon {
  background-position: -200px 0px;
}
.navbar .nav .user .icon {
  background-position: -575px 0px;
}
.navbar .nav .user a:hover .icon,
.navbar .nav .user.active a .icon,
.navbar .nav .user.open a .icon    {
  background-position: -550px 0px;
}
.navbar .nav .home .icon {
  background-position: -25px 0px;
}
.navbar .nav .home a:hover .icon,
.navbar .nav .home.active a .icon {
  background-position: 0px 0px;
}
#content {
  padding-top: 20px;
}
