body {
  margin : 0;
  font-size : 12px;
  font-family : century gothic, arial, sans serif;
  padding-top : 100px;
  padding-bottom : 40px;
  background : #EFEFEF;
}
#header {
  height : 100px;
  background : #2B2B2B;
  color : #FBFBFB;
}
#logo {
  float : left;
  height : 70px;
  margin-top : 15px;
  margin-bottom : 15px;
  margin-left : 20px;
  margin-right : 20px;
  background : url('img/logo_car_70.png') no-repeat;
}
#logo h1 {
  margin-left : 85px;
  font-size : 2.7em;
  margin-top : 0.75em;
}

#auth {
  position:absolute;
  bottom:0px;
  right:0px;
  background: transparent;
}
.navbar .nav > li > a {
  color: #AAAAAA;
  text-shadow : 0px -1px 0px rgba(0,0,0,0.75);
}
.navbar .nav .active > a,
.navbar .nav > li > a:focus ,
.navbar .nav > li > a:hover {
  color: #FFF;
  text-decoration : none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color : #585858;
  text-shadow : 0px -1px 0px rgba(255,255,255,0.75);
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid #F5F5F5;
}
.dropdown-menu {
  background-color: #F5F5F5;
}

#content {
  padding-top: 20px;
}
