body {
  margin : 0;
  font-size : 12px;
  font-family : century gothic, arial, sans serif;
  padding-top : 100px;
  padding-bottom : 40px;
  background : #EFEFEF;
}
#header {
  height : 100px;
  background : #2B2B2B;
  color : #FBFBFB;
}
#logo {
  float : left;
  height : 70px;
  margin-top : 15px;
  margin-bottom : 15px;
  margin-left : 20px;
  margin-right : 20px;
  background : url('img/logo_car_70.png') no-repeat;
}
#logo h1 {
  margin-left : 85px;
  font-size : 2.7em;
  margin-top : 0.75em;
}

#content {
  padding-top: 20px;
}
