<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jacl2@modules.jelix.org" name="jacl" createdate="2012-09-18">
        <version stability="stable" date="2012-09-18">1.5</version>
        <label lang="en_US">jAcl2</label>
        <description lang="en_US">Main module for acl</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2006-2018 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
       <jelix minversion="1.5a1.2500" maxversion="1.6.*"/>
    </dependencies>
    <autoload>
        <class name="jAcl2" file="classes/jAcl2.class.php" />
        <class name="jIAcl2Driver" file="classes/jIAcl2Driver.iface.php" />
    </autoload>
</module>
