<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="info@3liz.com" name="admin" createdate="2012-07-27">
        <version date="2024-06-06">3.10.0-pre</version>
        <label lang="en_US">admin</label>
        <description lang="en_US"/>
        <license URL="https://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2012-2025 3liz</copyright>
        <creator name="3liz" email="info@3liz.com"/>
        <homepageURL>https://www.3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0" maxversion="1.8.*"/>
        <module name="jacl2db"/>
        <module name="master_admin"/>
        <module name="jauthdb_admin"/>
        <module name="jacl2db_admin"/>
    </dependencies>
    <autoload>
     <namespacePathMap name="LizmapAdmin" dir="lib"/>
    </autoload>
</module>
