/* SVG credit : https://remixicon.com/ */
#mapmenu li.action a .icon,
#mini-dock #action div.action h3 span.icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2.132 13.63a9.942 9.942 0 0 1 0-3.26c1.102.026 2.092-.502 2.477-1.431.385-.93.058-2.004-.74-2.763a9.942 9.942 0 0 1 2.306-2.307c.76.798 1.834 1.125 2.764.74.93-.385 1.457-1.376 1.43-2.477a9.942 9.942 0 0 1 3.262 0c-.027 1.102.501 2.092 1.43 2.477.93.385 2.004.058 2.763-.74a9.942 9.942 0 0 1 2.307 2.306c-.798.76-1.125 1.834-.74 2.764.385.93 1.376 1.457 2.477 1.43a9.942 9.942 0 0 1 0 3.262c-1.102-.027-2.092.501-2.477 1.43-.385.93-.058 2.004.74 2.763a9.942 9.942 0 0 1-2.306 2.307c-.76-.798-1.834-1.125-2.764-.74-.93.385-1.457 1.376-1.43 2.477a9.942 9.942 0 0 1-3.262 0c.027-1.102-.501-2.092-1.43-2.477-.93-.385-2.004-.058-2.763.74a9.942 9.942 0 0 1-2.307-2.306c.798-.76 1.125-1.834.74-2.764-.385-.93-1.376-1.457-2.477-1.43zM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
    background-size: contain;
}

#mini-dock #action div.action h3 span.icon  {
    background-position: unset;
}

#mapmenu li.action a:hover .icon,
#mapmenu li.action.active a .icon {
    filter: invert(1);
}

#project-action-selector-container,
.layer-action-selector-container {
    min-height: 100px;
    max-height: 500px !important;
    padding-bottom: 10px;
}

div.action-selector-container {
    margin-bottom: 5px;
}

select.action-select {
    width: 95%;
}

.action-description {
    max-height: 100px;
    overflow: auto;
    font-size: 0.8em;
    padding: 5px;
    font-style: italic;
    background: lightgray;
    margin-right: 5%;
    border: 1px solid var(--color-contrasted-elements-light);
    border-radius: 5px;
}

div.action-buttons {
    float: right;
    width: 100%;
}

div.action-buttons button{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

div.action-buttons button:hover:not([disabled]) {
    background-color: #04c;
    background-image: linear-gradient(to bottom,#08c,#04c);
    color: white;
    text-shadow: none;
}

#project-action-selector-container lizmap-digitizing {
    margin-bottom: 10px;
    display: block;
}