#menu .list-group-item > a {
  background-repeat : no-repeat;
  background-position : left center;
  padding-left : 20px;
  display: block;
}

#menu .list-group-item.active > a {
    color: white;
}

#menu .list-group-item-secondary {
    text-transform: uppercase;
    font-weight: bold;
}

#content {
  font-size:0.8em;
}

#auth_login_zone {
    max-width:450px;
    margin: auto;
}

.jforms-error-list {
    margin-left: 0;
    background-color: #C43C35;
    background-image: linear-gradient(to bottom , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgb(0 0 0 / 10%) rgb(0 0 0 / 10%) rgb(0 0 0 / 25%);

/*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
    padding: 10px;
    color: white;
}

.jforms-error-list li {
    list-style: none;
    color: #FFF;
}

fieldset legend {
    width:auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 0;
    font-size:14px;
}

fieldset legend label {
    display:inline-block;
}

fieldset {
    border: 1px solid #c5c5c5;
    padding: 1em;
    margin-bottom: 1em;
}

.services-table th {
    width: 30%;
    min-width: 10em;
}

.form-horizontal .control-label {
    width: 240px;
}

.form-horizontal .controls {
    margin-left: 250px;
}

.table .table {
    background-color:transparent;
}


#dashboard-content {
    padding-left: 2.1277%;
}

.dashboard-widget h3 {
    background-color: #eee;
    margin: 0 0 10px;
    padding: 0 10px;
}

.table-server-info th,
.table-server-info td
{
    width: 50%;
}


@media (width <= 480px) {
    .form-horizontal .controls {
        margin-left: 0;
    }
}

/*
======
Admin repository lists
======
*/
div.admin_repository:target::before {
    /* Fixed page header overlaps in-page anchors
     * https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors
     */
    content: "";
    display: block;
    height: 75px; /* fixed header height */
    margin: -75px 0 0; /* negative fixed header height */
}

/*
======
Admin QGIS project lists
======
*/
div#lizmap_project_list_container {
    height: 80%;
    width: 100%;
    margin: auto;

    /* Colors */
    --warning-bg-color: lightyellow;
    --error-bg-color: lightcoral;
    --blocker-bg-color: red;
    --highlighted-line-bg-color: #08c;
 }

#lizmap_project_list {
    min-inline-size: 60%;
    border: 1px solid lightgray;
    padding: 5px;
}

div.lizmap_project_list_details {
    background-color: lightgray;
    padding: 5px;
}

/* Cursor pointer only if the table has hidden columns (responsive datatable extension) */
table.lizmap_project_list tr {
    cursor: default;
}

table.lizmap_project_list tr.has_hidden_columns {
    cursor: pointer;
}

/* hovered line  */

/* Blue left border when hovering a line */
table.lizmap_project_list tr td:first-child {
    border-left: 3px solid transparent;
}

table.lizmap_project_list tr:not(.child):hover td:first-child
{
    border-left: 3px solid var(--highlighted-line-bg-color);
}

table.lizmap_project_list tr .liz-warning{
    background-color: var(--warning-bg-color);
}

table.lizmap_project_list tr .liz-error{
    background-color: var(--error-bg-color);
}

table.lizmap_project_list tr .liz-blocker{
    background-color: var(--blocker-bg-color);
}

/* When the width of the window is not big enough, some columns are hidden
by the responsive extension of datatable.
Style the div which will contain the details */
div.lizmap_project_list_details dt {
    margin-top: 5px;
}

div.lizmap_project_list_details dd {
    padding: 5px;
    max-height: 250px;
    overflow: auto;
    background-color: #efefef;
}

table.lizmap_project_list tr dd.lizmap-project-qgis-log pre {
    font-size: 0.9em;
    line-height: 10px;
}

table.lizmap_project_list tr td.lizmap-project-qgis-log pre {
    font-size: 0.8em;
    line-height: 10px;
    max-height: 80px;
    max-width: 300px;
    overflow: auto;
}

/* End of project list page */

/* Project list help with colours and legend */
#lizmap_project_list_help div.modal-body {
    background-color: rgb(239 239 239);
}

#lizmap_project_list_help ul ul li {
    font-weight: bold;
}

#lizmap_project_list_help ul ul ul.rules li {
    font-weight: normal;
}

#lizmap_project_list_help ul > .rules {
    list-style: none;
}

#lizmap_project_list_help ul > .rules li::before {
  content: '■';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 2.5em;
}

#lizmap_project_list_help .badge-warning {
    position: absolute;
    left: 55px;
}

#lizmap_project_list_help .no_symbol::before {
    content: '';
}

#lizmap_project_list_help .no_symbol > li:nth-child(1) {
    font-weight: normal;
}

#lizmap_project_list_help .warning::before {
    color: var(--warning-bg-color);
}

#lizmap_project_list_help .error::before {
    color: var(--error-bg-color);
}

#lizmap_project_list_help .blocker::before {
    color: var(--blocker-bg-color);
}


/* List of users and groups */
.jacl2-list.jacl2-list-sticky-heads thead,
.jacl2-list-user.jacl2-list-sticky-heads thead
{
    top: 75px;
}

#groups-list_wrapper,
#users-list_wrapper
{
    padding: 1em 0 1em 2em;
}

.copy-to-clipboard {
    border: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.copy-to-clipboard svg {
    pointer-events: none;
}
