#tree {
  height : 400px;
  overflow : auto;
  padding-top : 0;
  padding-left: 19px;
}
#tree table {
  width : 100%;
}
#tree span.label{
  padding-left: 0.5em;
  color : rgb(51,51,51);
  background: none;
  text-shadow : none;
  cursor : pointer;
}
#tree .treeTable td a.expander {
  font-size : 14px;
}
#tree .treeTable tr.expanded td a.expander {
  background-image : url("images/sprite_menu.png");
  background-position : -16px -48px;
}
#tree .treeTable tr.collapsed td a.expander {
  background-image : url("images/sprite_menu.png");
  background-position : -32px -64px;
}
#tree .treeTable span.selected {
  background-color : rgb(153,153,153);
  text-shadow : 0px -1px 0px rgba(0,0,0,0.25);
  color : white;
}

#modify-type legend {
  margin-bottom : 12px;
}

#modify-type table {
  width:100%;
}
#modify-type table td {
}
#modify-type table td input {
  width:100%;
}
#modify-type table td input.jforms-submit {
  width:auto;
}
#modify-type table td label {
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
#modify-type table td span.jforms-radio {
  /*display:block;*/
}
#modify-type table th {
  font-weight:normal;
  width:15%;
}
#modify-type table th.left {
  text-align:right;
  padding-right: 5px;
}
#modify-type table th.left span {
}
#modify-type table th.left label {
  display:inline-block;
}
#modify-type table th.left a {
  display:inline-block;
  background-image: url("images/sprite_menu.png");
  background-position : -48px -96px;
  width: 16px;
  height: 16px;
}
#content button,
#content input[type="submit"],
#content button:hover,
#content input[type="submit"]:hover {
    color: #FFFFFF;
}

#content button,
#content input[type="submit"] {
    background-color: #9acd32;
    background-image: linear-gradient(to bottom , #a9d848, #a9d848 25%, #9acd32);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#content button[name="add"] {
  padding: 2px 10px;
  margin-bottom:9px;
}

ul.jelix-msg {
  list-style:none;
  margin: 9px 0px;
}
li.jelix-msg-item-default {
  color: #79a754;
}
li.jelix-msg-item-error {
  color: #CE1F2D;
}
.jforms-required-star {
  color : #CE1F2D;
}
ul.jforms-error-list {
  margin: 9px 0px;
  list-style:none;
  color: #CE1F2D;
}
.jforms-label.jforms-error {
  color: #CE1F2D;
}
.jforms-ctrl-input.jforms-error {
  border: solid 1px #CE1F2D;
}
