/* SVG credit : https://remixicon.com/ */
#mapmenu li.presentation a .icon,
#mini-dock #presentation div.presentation h3 span.icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M13 18V20H17V22H7V20H11V18H3C2.44772 18 2 17.5523 2 17V4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V17C22 17.5523 21.5523 18 21 18H13ZM4 5V16H20V5H4ZM10 7.5L15 10.5L10 13.5V7.5Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
}

#mini-dock #presentation div.presentation h3 span.icon  {
    background-position: unset;
}
#mapmenu li.presentation a:hover .icon,
#mapmenu li.presentation.active a .icon {
    filter: invert(1);
}

/* Presentation card */
div#presentation-introduction {
    margin: 5px;
    padding: 5px;
    display: block;
}

div#presentation-container[data-display='detail'] div#presentation-introduction {
    display: none;
}
button.liz-presentation-create {
    margin: 5px;
    width: calc(100% - 10px);
    display: block;
}
div#presentation-container[data-display='detail'] button.liz-presentation-create.presentation {
    display: none;
}
div.lizmap-presentation-card {
    border: 1px solid var(--color-contrasted-elements);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: block;
}
div.lizmap-presentation-card[data-display='normal'] {
    display: block;
}
div.lizmap-presentation-card[data-display='none'] {
    display: none;
}
div.lizmap-presentation-card[data-display='detail'] {
    display: block;
    border: none;
    padding: 0px;
}
div.lizmap-presentation-card h3.lizmap-presentation-title {
    padding: 5px;
}

div.lizmap-presentation-card p.lizmap-presentation-description {
    padding: 5px;
    font-size: 0.8em;
    /* font-style: italic; */
    text-align: justify;
}

div.lizmap-presentation-card table.presentation-detail-table {
    width: 100%;
    font-size: 0.8em;
    display: none;
}
div.lizmap-presentation-card[data-display='detail'] table.presentation-detail-table {
    display: block;
}

div.lizmap-presentation-card-toolbar {
    text-align: right;
}

/* Page preview */
div.lizmap-presentation-card-pages-preview {
    display: none;
    margin-top: 10px;
    overflow: auto;
}
div.lizmap-presentation-card[data-display='detail'] div.lizmap-presentation-card-pages-preview {
    display: block;
}

h3.lizmap-presentation-card-pages-preview-title {
    font-size: 0.8em;
    padding-bottom: 10px;
}
div.lizmap-presentation-page-preview {
    border: 1px solid var(--color-contrasted-elements);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: move;
    &[draggable="true"] {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    &:hover {
        background-color: #eee;
    }

}
div.lizmap-presentation-page-preview-toolbar {
    text-align: right;
}

/* Forms */
#presentation-form-container {
    padding: 10px;
    overflow: auto;
}

/* Map related buttons */
/* tree state saver */
button.presentation-page-add-tree-state{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10 2C10.5523 2 11 2.44772 11 3V7C11 7.55228 10.5523 8 10 8H8V10H13V9C13 8.44772 13.4477 8 14 8H20C20.5523 8 21 8.44772 21 9V13C21 13.5523 20.5523 14 20 14H14C13.4477 14 13 13.5523 13 13V12H8V18H13V17C13 16.4477 13.4477 16 14 16H20C20.5523 16 21 16.4477 21 17V21C21 21.5523 20.5523 22 20 22H14C13.4477 22 13 21.5523 13 21V20H7C6.44772 20 6 19.5523 6 19V8H4C3.44772 8 3 7.55228 3 7V3C3 2.44772 3.44772 2 4 2H10ZM19 18H15V20H19V18ZM19 10H15V12H19V10ZM9 4H5V6H9V4Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center !important;
    width: 25px;
    height: 20px;
    &:hover, &:active, &:focus {
        background-position: center;
        background-color: lightgrey;
    }
}
/* extent saver */
button.presentation-page-add-bbox{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M16.9497 11.9497C18.7347 10.1648 19.3542 7.65558 18.8081 5.36796L21.303 4.2987C21.5569 4.18992 21.8508 4.30749 21.9596 4.56131C21.9862 4.62355 22 4.69056 22 4.75827V19L15 22L9 19L2.69696 21.7013C2.44314 21.8101 2.14921 21.6925 2.04043 21.4387C2.01375 21.3765 2 21.3094 2 21.2417V7L5.12892 5.65904C4.70023 7.86632 5.34067 10.2402 7.05025 11.9497L12 16.8995L16.9497 11.9497ZM15.5355 10.5355L12 14.0711L8.46447 10.5355C6.51184 8.58291 6.51184 5.41709 8.46447 3.46447C10.4171 1.51184 13.5829 1.51184 15.5355 3.46447C17.4882 5.41709 17.4882 8.58291 15.5355 10.5355Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 20px;
    &:hover, &:active, &:focus {
        background-position: center;
        background-color: lightgrey;
    }
}


/* Slides container */
#lizmap-presentation-slides-container {
    width: 0px;
    height: 0px;
    display: none;
}
#lizmap-presentation-slides-container.visible {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 95%, transparent 100%);
    z-index: 10000;
}

/* Dock size depends on active presentation and on active page */
#dock.presentation-visible {
    width: 50%;
    max-width: 50%;
}
#dock.presentation-visible.presentation-half {
    width: 50%;
    max-width: 50%;
}
#dock.presentation-visible.presentation-full {
    width: 100%;
    max-width: 100%;
}

/* Slides toolbar */
div#lizmap-presentation-slides-toolbar {
    border: 1p solid rgba(150, 150, 150, 0.8);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(150, 150, 150, 0.5);
    /* Set position in the bottom center of the whole page */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    /* Change opacity when hovering */
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }
}

div#lizmap-presentation-slides-minified-toolbar {
    border: 1p solid rgba(150, 150, 150, 0.8);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(150, 150, 150, 0.5);
    /* Set position in the bottom center of the whole page */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    /* Change opacity when hovering */
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    /* Show only when presentation is minified */
    display: none;
}
div#lizmap-presentation-slides-minified-toolbar.visible {
    display: block;
}

/* Slideshow page */
lizmap-presentation-page {
    display: block;
    width: calc(100% - 20px);
    min-height: calc(100vh - 30px);
    /* height: calc(100vh - 20px); */
    height: 100%;
    padding: 10px;
    font-size: 1em;

    /* background properties */
    background-repeat: no-repeat;
    /* Full - Respect image ratio - full image will always be visible (with possible empty spaces around)*/
    background-position: top; background-size: contain;
    opacity: 0.4;
}
/* active page (visible >= 50%) */
lizmap-presentation-page.active {
    opacity: 1;
}

lizmap-presentation-page.background-contain {
    /* Full - Respect image ratio - full image will always be visible (with possible empty spaces around)*/
    background-position: top; background-size: contain;
}
lizmap-presentation-page.background-cover {
    /* Zoom full width - Respect the image ratio - bottom and sides of the image can be hidden */
    background-position: top; background-size: cover;
}
lizmap-presentation-page.background-stretch {
    /* Stretched to cover all the page. It will distort the image */
    background-position: center; background-size: 100% 100%;
}

lizmap-presentation-page h2.lizmap-presentation-page-title {
    /* Invert the H2 text color based on the page background*/
    color: white;
    mix-blend-mode: difference;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    padding: 5px;
}

lizmap-presentation-page div.lizmap-presentation-page-content {
    display: flex;
    flex-direction: column;
	align-content: stretch;
    height: calc(100% - 150px);
}

lizmap-presentation-page div.lizmap-presentation-page-content > div {
    padding: 0px;
}

lizmap-presentation-page div.lizmap-presentation-page-content > div.lizmap-presentation-page-text {
    padding: 20px;
    font-size: 1em;
    line-height: 1em;
    text-align: justify;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    mix-blend-mode: difference;
    flex: 1 1;
}
lizmap-presentation-page div.lizmap-presentation-page-content > div.lizmap-presentation-page-media {
    padding: 0px;
    flex: 1 1;
}
