<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jwsdl@modules.jelix.org" name="jwsdl" createdate="2008-04-13">
        <version stability="stable" date="2011-10-18">1.2.1</version>
        <label lang="en_US">jWSDL</label>
        <description lang="en_US">WSDL generator for SOAP web services</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2008 Sylvain de Vathaire</copyright>
        <creator name="Sylvain de Vathaire"/>
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
       <jelix minversion="1.2RC3" maxversion="1.4.*"/>
    </dependencies>
</module>
