<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="info@3liz.com" name="lizmap" createdate="2011-06-15">
        <version date="2024-06-06">3.10.0-pre</version>
        <label lang="en_US">lizmap</label>
        <description lang="en_US"/>
        <license URL="https://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2011-2025 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <homepageURL>https://www.3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0" maxversion="1.8.*"/>
        <module name="jcommunity"/>
        <module name="admin"/>
    </dependencies>
    <autoload>
        <class name="lizmap" file="classes/lizmap.class.php"/>
        <class name="lizmapLogItem" file="classes/lizmapLogItem.class.php"/>
        <class name="lizmapLogConfig" file="classes/lizmapLogConfig.class.php"/>
        <class name="qgisServer" file="classes/qgisServer.class.php"/>
        <class name="lizmapProject" file="classes/lizmapProject.class.php"/>
        <class name="lizmapRepository" file="classes/lizmapRepository.class.php"/>
        <class name="lizmapTiler" file="classes/lizmapTiler.class.php"/>
        <class name="lizmapWkt" file="classes/lizmapWkt.class.php"/>
        <class name="qgisMapLayer" file="classes/qgisMapLayer.class.php"/>
        <class name="qgisVectorLayerDatasource" file="classes/qgisVectorLayerDatasource.class.php"/>
        <class name="qgisVectorLayer" file="classes/qgisVectorLayer.class.php"/>
        <class name="qgisAttributeEditorElement" file="classes/qgisAttributeEditorElement.class.php"/>
        <class name="qgisLayerDbFieldsInfo" file="classes/qgisLayerDbFieldsInfo.class.php"/>
        <class name="lizmapServices" file="classes/lizmapServices.class.php"/>
        <class name="qgisExpressionUtils" file="classes/qgisExpressionUtils.class.php"/>
        <!-- legacy classes -->
        <class name="lizmapProxy" file="classes/lizmapProxy.class.php"/>
        <class name="lizmapOGCRequest" file="classes/lizmapOGCRequest.class.php"/>
        <namespacePathMap name="Lizmap" dir="lib"/>
    </autoload>
</module>
