[locale]
userLocale=fr_FR

[svg]
searchPathsForSVG={{ qgis_server_plugin_directory }}/cadastre/styles/classique/svg, /usr/share/qgis/svg, /usr/local/share/qgis/svg

[Qgis]
simplifyLocal={{ qgis_config_simplifyLocal }}
warnOldProjectVersion={{ qgis_config_warnOldProjectVersion }}
networkAndProxy\networkTimeout={{ qgis_config_networkTimeout }}
defaultTileExpiry={{ qgis_config_defaultTileExpiry }}
defaultTileMaxRetry={{ qgis_config_defaultTileMaxRetry }}
defaultCapabilitiesExpiry={{ qgis_config_defaultCapabilitiesExpiry }}
compileExpressions={{ qgis_config_compileExpressions }}
enable_render_caching={{ qgis_config_enable_render_caching }}
parallel_rendering={{ qgis_config_parallel_rendering }}
max_threads={{ qgis_config_max_threads }}

[qgis]
simplifyLocal={{ qgis_config_simplifyLocal }}
warnOldProjectVersion={{ qgis_config_warnOldProjectVersion }}
networkAndProxy\networkTimeout={{ qgis_config_networkTimeout }}
defaultTileExpiry={{ qgis_config_defaultTileExpiry }}
defaultTileMaxRetry={{ qgis_config_defaultTileMaxRetry }}
defaultCapabilitiesExpiry={{ qgis_config_defaultCapabilitiesExpiry }}
compileExpressions={{ qgis_config_compileExpressions }}
enable_render_caching={{ qgis_config_enable_render_caching }}
parallel_rendering={{ qgis_config_parallel_rendering }}
max_threads={{ qgis_config_max_threads }}

[proxy]
proxyEnabled={% if qgis_internet_proxy_enabled %}true{% else %}false{% endif %}
proxyHost={{ qgis_internet_proxy_host }}
proxyPort={{ qgis_internet_proxy_port }}
proxyUser={{ qgis_internet_proxy_user }}
proxyPassword={{ qgis_internet_proxy_password }}
proxyType=HttpProxy
proxyExcludedUrls=@Invalid()
authcfg=
