<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jpref_admin@jelix.org" name="jpref_admin" createdate="2012-01-21">
        <version stability="stable" date="2012-11-12">1.1</version>
        <label lang="en_US">jPref manager</label>
        <description lang="en_US" />
        <license URL="http://www.gnu.org/licenses/lgpl.html">GNU Lesser General Public Licence</license>
        <copyright>2012 Florian Lonqueu-Brochard, 2012-2018 Laurent Jouanneau</copyright>
        <creator name="Florian Lonqueu-Brochard" email="dev@florianlb.fr" />
        <contributor name="Laurent Jouanneau" />
        <homepageURL>http://jelix.org</homepageURL>
    </info>
    <dependencies>
       <jelix minversion="1.4pre.*" maxversion="1.6.*"/>
        <module name="jacl2db"/>
        <module name="jpref" />
    </dependencies>
</module>
