<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="info@3liz.com" name="dataviz" createdate="2017-03-08">
        <version date="2017-07-19">3.2pre170719</version>
        <label lang="en_US">dataviz</label>
        <description lang="en_US" />
        <license URL="http://www.mozilla.org/MPL/">Mozilla Public License</license>
        <copyright>2017 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.3liz.com</homepageURL>
        <!--<updateURL>http://www.yourwebsite.undefined/update.xml</updateURL>-->
    </info>
    <dependencies>
        <jelix minversion="1.6.14" maxversion="1.6.*"/>
        <module name="lizmap" />
        <module name="view" />
    </dependencies>
</module>
